.navbarMain {
    position: absolute;
    left: 120px;
    top: 60px;
    height: 80px;
    z-index: 999;
    right: 120px;
    transition: 0.3s;
}

.fixed {
    box-shadow: 0px 5px 90px 0px rgba(2, 24, 93, 0.18);
    animation: slide-down 0.7s;
    z-index: 9999;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    transform: none;
}

.navbar {
    background-color: #fff !important;
    border-radius: 4px 0px 0px 4px;
    padding: 20px;
    border-right: 5px solid #FC4102;
}



.navbarRight {
    width: 100%;
    justify-content: end;
}

.navbarItem {
    margin-right: 20px;
}

.logo {
    height: 50px;
}

.visitBtn {
    --bs-btn-color: #FC4102 !important;
    --bs-btn-border-color: #FC4102 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #FC4102 !important;
    --bs-btn-hover-border-color: #FC4102 !important;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #FC4102 !important;
    --bs-btn-active-border-color: #FC4102 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #FC4102 !important;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #FC4102 !important;
    --bs-gradient: none;
}

@media (max-width: 768px) {
    .navbarMain {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 80px;
        z-index: 999;
        right: 0px;
        transition: 0.3s;
    }

    .navbar {
        background-color: #fff !important;
        border-radius: 0px;
        padding: 10px 20px;
        border-right: none;
    }
}