* {
  /* background-color: #fff; */
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin", sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.testimonialSlider .slick-slider .slick-dots {
  bottom: 20px;
}
.mt100 {
  margin-top: 100px;
}
.heading {
  font-size: 28px;
  font-weight: 500;
  color: #000;
  line-height: 38px;
  position: relative;
}
.commonBtn {
  width: 190px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 10px;
    --bs-btn-color: #fff;
    --bs-btn-bg: #FC4102 !important;
    --bs-btn-border-color: #FC4102 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #FC4102 !important;
    --bs-btn-hover-border-color: #FC4102 !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #FC4102 !important;
    --bs-btn-active-border-color: #FC4102 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #FC4102 !important;
    --bs-btn-disabled-border-color: #FC4102 !important;
}
.desk_hide {
  display: none;
}

.testimonialSlider  .slick-slide {
	padding: 10px;
}

.testimonialSlider .slick-slider .slick-dots li button::before{
	content: "\f111";
	font-family: "FontAwesome";
}

.testimonialSlider .slick-dots li.slick-active button::before {
	color: #fc4102;
}

.testimonialSlider .slick-dots li button::before {
	color: #fc4102;
}

.carouselSlider .slick-next::before, .slick-prev::before {
	font-size: 20px;
	line-height: 1;
	opacity: .75;
	color: #FC4102 !important;
}

.carouselSlider  .slick-slide {
	padding: 10px;
}

.slick-next::before {
	content: "\f054";
	font-family: "FontAwesome";
}

.slick-prev::before {
	content: "\f053";
	font-family: "FontAwesome";
}

.footer_logo {
  width: 130px;
}

.testimonialSlider .slick-slider .slick-dots li{
  margin: 0;
}

@media screen and (max-width: 768px) {
  .mob_hide {
    display: none;
  }
  .desk_hide {
    display: block;
  }
  .w65 {
    width: 65%;
  }
  .card-title {
    font-size: 16px;
    margin-bottom: 0;
  }
  .card-text {
    font-size: 13px;
  }
  .mt0 {
    margin-top: 0 !important;
  }
  .mt100 {
    margin-top: 40px;
  }
  .footer_logo {
    width: 100px;
  }
  .heading {
    font-size: 18px;
    line-height: 28px;
  }

  
}
